<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultCompletionName</key>
	<string>TKTestBase</string>
	<key>Description</key>
	<string>Description of template.</string>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Name</key>
	<string>Toki Unit Test Case Class</string>
	<key>Options</key>
	<array>
		<dict>
			<key>RequiredOptions</key>
			<dict>
				<key>testSubclass</key>
				<array>
					<string>TKTestCase</string>
				</array>
			</dict>
			<key>Description</key>
			<string>Name of the unit test class</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Name:</string>
			<key>NotPersisted</key>
			<true/>
			<key>Required</key>
			<true/>
			<key>Type</key>
			<string>text</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Test Subclass:</string>
			<key>Default</key>
			<string>TKTestCase</string>
			<key>Identifier</key>
			<string>testSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>TKTestBase</string>
				<string>TKTestCase</string>
			</array>
			<key>Variables</key>
			<dict>
				<key>TKTestBase</key>
				<dict>
					<key>productName</key>
					<string>TKTestBase</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowedTypes</key>
			<dict>
				<key>Objective-C</key>
				<array>
					<string>public.objective-c-source</string>
					<string>public.objective-c-plus-plus-source</string>
				</array>
			</dict>
			<key>Default</key>
			<string>Objective-C</string>
			<key>Description</key>
			<string>The implementation language</string>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>MainTemplateFiles</key>
			<dict>
				<key>Objective-C</key>
				<string>___FILEBASENAME___.m</string>
			</dict>
			<key>Name</key>
			<string>Language:</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>popup</string>
			<key>Values</key>
			<array>
				<string>Objective-C</string>
			</array>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
		<string>com.apple.platform.iphoneos</string>
		<string>com.apple.platform.watchos</string>
		<string>com.apple.platform.appletvos</string>
	</array>
	<key>SortOrder</key>
	<string>1</string>
	<key>Summary</key>
	<string>Summary of template.</string>
</dict>
</plist>
