<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.watchkit2.basewatchkitextension</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.watchosAppExtensionBase</string>
    </array>
    <key>Options</key>
    <array>
        <dict>
            <key>Identifier</key>
            <string>hasNotification</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <array>
                    <dict>
                        <!-- hasNotifications=true && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>NotificationController.h</string>
                            <string>NotificationController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>NotificationController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>NotificationController.h</string>
                                <key>SortOrder</key>
                                <integer>10</integer>
                            </dict>
                            <key>NotificationController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>NotificationController.m</string>
                                <key>SortOrder</key>
                                <integer>11</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- hasNotifications=true && languageChoice=Swift && userInterface=Storyboard -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                            <key>userInterface</key>
                            <string>Storyboard</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>NotificationController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>NotificationController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>NotificationController.swift</string>
                                <key>SortOrder</key>
                                <integer>10</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- hasNotifications=true && languageChoice=Swift && userInterface=SwiftUI  -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                            <key>userInterface</key>
                            <string>SwiftUI</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>NotificationController.swift</string>
                            <string>NotificationView.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>NotificationController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>NotificationHostingController.swift</string>
                                <key>SortOrder</key>
                                <integer>10</integer>
                            </dict>
                            <key>NotificationView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>NotificationView.swift</string>
                                <key>SortOrder</key>
                                <integer>11</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- hasNotifications=true -->
                        <key>Nodes</key>
                        <array>
                            <string>PushNotificationPayload.apns</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>PushNotificationPayload.apns</key>
                            <dict>
                                <key>Path</key>
                                <string>RemoteNotificationPayload.json</string>
                                <key>SortOrder</key>
                                <integer>998</integer>
                                <key>TargetIdentifiers</key>
                                <array/>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>hasComplication</string>
            <key>Units</key>
            <dict>
                <key>true</key>
                <array>
                    <dict>
                        <!-- hasComplication=true -->
                        <key>Nodes</key>
                        <array>
                            <string>Info.plist:ComplicationSupport</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>Info.plist:ComplicationSupport</key>
                            <string><![CDATA[<key>CLKComplicationPrincipalClass</key>
<string>___VARIABLE_moduleNamePrefixForClasses:XML___ComplicationController</string>
<key>CLKComplicationSupportedFamilies</key>
<array>
    <string>CLKComplicationFamilyModularSmall</string>
    <string>CLKComplicationFamilyModularLarge</string>
    <string>CLKComplicationFamilyUtilitarianSmall</string>
    <string>CLKComplicationFamilyUtilitarianSmallFlat</string>
    <string>CLKComplicationFamilyUtilitarianLarge</string>
    <string>CLKComplicationFamilyCircularSmall</string>
    <string>CLKComplicationFamilyExtraLarge</string>
    <string>CLKComplicationFamilyGraphicCorner</string>
    <string>CLKComplicationFamilyGraphicBezel</string>
    <string>CLKComplicationFamilyGraphicCircular</string>
    <string>CLKComplicationFamilyGraphicRectangular</string>
</array>
]]></string>
                        </dict>
                    </dict>
                    <dict>
                        <!-- hasComplication=true && languageChoice=Objective-C -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Objective-C</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ComplicationController.h</string>
                            <string>ComplicationController.m</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ComplicationController.h</key>
                            <dict>
                                <key>Path</key>
                                <string>ComplicationController.h</string>
                                <key>SortOrder</key>
                                <integer>30</integer>
                            </dict>
                            <key>ComplicationController.m</key>
                            <dict>
                                <key>Path</key>
                                <string>ComplicationController.m</string>
                                <key>SortOrder</key>
                                <integer>31</integer>
                            </dict>
                        </dict>
                    </dict>
                    <dict>
                        <!-- hasComplication=true && languageChoice=Swift -->
                        <key>RequiredOptions</key>
                        <dict>
                            <key>languageChoice</key>
                            <string>Swift</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>ComplicationController.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ComplicationController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ComplicationController.swift</string>
                                <key>SortOrder</key>
                                <integer>30</integer>
                            </dict>
                        </dict>
                    </dict>
                </array>
            </dict>
        </dict>
        <dict>
            <key>Identifier</key>
            <string>languageChoice</string>
            <key>Units</key>
            <dict>
                <key>Objective-C</key>
                <dict>
                    <key>Nodes</key>
                    <array>
                        <string>InterfaceController.h</string>
                        <string>InterfaceController.m</string>
                        <string>ExtensionDelegate.h</string>
                        <string>ExtensionDelegate.m</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>InterfaceController.h</key>
                        <dict>
                            <key>Path</key>
                            <string>InterfaceController.h</string>
                            <key>SortOrder</key>
                            <integer>1</integer>
                        </dict>
                        <key>InterfaceController.m</key>
                        <dict>
                            <key>Path</key>
                            <string>InterfaceController.m</string>
                            <key>SortOrder</key>
                            <integer>2</integer>
                        </dict>
                        <key>ExtensionDelegate.h</key>
                        <dict>
                            <key>Path</key>
                            <string>ExtensionDelegate.h</string>
                            <key>SortOrder</key>
                            <integer>3</integer>
                        </dict>
                        <key>ExtensionDelegate.m</key>
                        <dict>
                            <key>Path</key>
                            <string>ExtensionDelegate.m</string>
                            <key>SortOrder</key>
                            <integer>4</integer>
                        </dict>
                    </dict>
                </dict>
                <key>Swift</key>
                <array>
                    <!--  languageChoice=Swift  -->
                    <dict>
                        <key>Nodes</key>
                        <array>
                            <string>ExtensionDelegate.swift</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>ExtensionDelegate.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ExtensionDelegate.swift</string>
                                <key>SortOrder</key>
                                <integer>2</integer>
                            </dict>
                        </dict>
                    </dict>
                    <!--  languageChoice=Swift && userInterface=Storyboard  -->
                    <dict>
                        <key>RequiredOptions</key>
                <dict>
                            <key>userInterface</key>
                            <string>Storyboard</string>
                        </dict>
                    <key>Nodes</key>
                    <array>
                        <string>InterfaceController.swift</string>
                    </array>
                    <key>Definitions</key>
                    <dict>
                        <key>InterfaceController.swift</key>
                        <dict>
                            <key>Path</key>
                            <string>InterfaceController.swift</string>
                                <key>SortOrder</key>
                                <integer>1</integer>
                            </dict>
                        </dict>
                    </dict>
                    <!--  languageChoice=Swift && userInterface=SwiftUI  -->
                    <dict>
                        <key>RequiredOptions</key>
                        <dict>
                            <key>userInterface</key>
                            <string>SwiftUI</string>
                        </dict>
                        <key>Nodes</key>
                        <array>
                            <string>HostingController.swift</string>
                            <string>ContentView.swift</string>
                            <string>Preview Content/Preview Assets.xcassets</string>
                        </array>
                        <key>Definitions</key>
                        <dict>
                            <key>HostingController.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>HostingController.swift</string>
                                <key>SortOrder</key>
                                <integer>1</integer>
                            </dict>
                            <key>ContentView.swift</key>
                            <dict>
                                <key>Path</key>
                                <string>ContentView.swift</string>
                            <key>SortOrder</key>
                                <integer>0</integer>
                        </dict>
                            <key>Preview Content/Preview Assets.xcassets</key>
                        <dict>
                            <key>Path</key>
                                <string>Preview Assets.xcassets</string>
                            <key>SortOrder</key>
                                <integer>100</integer>
                                <key>Group</key>
                                <string>Preview Content</string>
                            </dict>
                        </dict>
                        <key>Targets</key>
                        <array>
                            <dict>
                                <key>SharedSettings</key>
                                <dict>
                                    <key>ENABLE_PREVIEWS</key>
                                    <string>YES</string>
                                    <key>DEVELOPMENT_ASSET_PATHS</key>
                                    <string>___PACKAGENAMEPREVIEWCONTENT:quoteIfNeeded___</string>
                                </dict>
                            </dict>
                        </array>
                    </dict>
                </array>
            </dict>
        </dict>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>PRODUCT_NAME</key>
                <string>${TARGET_NAME}</string>
                <key>ASSETCATALOG_COMPILER_COMPLICATION_NAME</key>
                <string>Complication</string>
                <key>LD_RUNPATH_SEARCH_PATHS</key>
                <string>$(inherited) @executable_path/Frameworks @executable_path/../../Frameworks</string>
            </dict>
            <key>TargetIdentifier</key>
            <string>com.apple.dt.watchkit2.watchkitextension</string>
            <key>ProductType</key>
            <string>com.apple.product-type.watchkit2-extension</string>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Assets.xcassets</string>
        <string>Info.plist:ExtensionDelegate</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:ExtensionDelegate</key>
        <string><![CDATA[<key>WKExtensionDelegateClassName</key>
<string>___VARIABLE_moduleNamePrefixForClasses:XML___ExtensionDelegate</string>
]]></string>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Images-complication.xcassets</string>
            <key>SortOrder</key>
            <integer>100</integer>
        </dict>
        <key>Assets.xcassets</key>
        <dict>
            <key>Path</key>
            <string>Images-complication.xcassets</string>
            <key>AssetGeneration</key>
            <array>
                <dict>
                    <key>Type</key>
                    <string>complication</string>
                    <key>Name</key>
                    <string>Complication</string>
                    <key>Platforms</key>
                    <dict>
                        <key>watchOS</key>
                        <string>true</string>
                    </dict>
                </dict>
            </array>
            <key>SortOrder</key>
            <integer>100</integer>
        </dict>
    </dict>
</dict>
</plist>
