<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.apple.dt.unit.watchkit2.watchkitextension</string>
    <key>Ancestors</key>
    <array>
        <string>com.apple.dt.unit.watchkit2.basewatchkitextension</string>
    </array>
    <key>Targets</key>
    <array>
        <dict>
            <key>SharedSettings</key>
            <dict>
                <key>PRODUCT_BUNDLE_IDENTIFIER</key>
                <string>___ASSOCIATEDTARGET_bundleIdentifier___.watchkitapp.watchkitextension</string>
            </dict>
        </dict>
    </array>
    <key>Nodes</key>
    <array>
        <string>Info.plist:WatchKitExtensionBundleIdentifier</string>
        <string>Info.plist:WatchKitExtension</string>
    </array>
    <key>Definitions</key>
    <dict>
        <key>Info.plist:WatchKitExtension</key>
        <string><![CDATA[<key>NSExtension</key>
<dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.watchkit</string>
    <key>NSExtensionAttributes</key>
    <dict>
        <key>WKAppBundleIdentifier</key>
        <string>___ASSOCIATEDTARGET_bundleIdentifier___.watchkitapp</string>
    </dict>
</dict>
]]></string>
<key>Info.plist:WatchKitExtensionBundleIdentifier</key>
<string><![CDATA[<key>CFBundleIdentifier</key>
<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>CFBundleVersion</key>
<string>1</string>
]]></string>
    </dict>
</dict>
</plist>
